<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>World Cup 2018 Stadistics</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='js/js.js') }}" type="text/javascript" />
  </head>
  <body>
    <table class="table_flags_index">
      <tr class="tr_flags_index">
        <td class="td_flags_index">
          <a href="/team_stats/Argentina">
            <p class="p_flags_index">
              Argentina
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Argentina.png" alt="Argentina" class="flags_index" align="left" name="Argentina" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Australia">
            <p class="p_flags_index">
              Australia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Australia.png" alt="Australia" class="flags_index" align="left" name="Australia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Belgium">
            <p class="p_flags_index">
              Belgium
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Belgium.png" alt="Belgium" class="flags_index" align="left" name="Belgium" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Brazil">
            <p class="p_flags_index">
              Brazil
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Brazil.png" alt="Brazil" class="flags_index" align="left" name="Brazil" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Colombia">
            <p class="p_flags_index">
              Colombia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Colombia.png" alt="Colombia" class="flags_index" align="left" name="Colombia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Costa%20Rica">
            <p class="p_flags_index">
              Costa Rica
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Costa Rica.png" alt="Costa Rica" class="flags_index" align="left" name="Costa Rica" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Croatia">
            <p class="p_flags_index">
              Croatia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Croatia.png" alt="Croatia" class="flags_index" align="left" name="Croatia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Denmark">
            <p class="p_flags_index">
              Denmark
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Denmark.png" alt="Denmark" class="flags_index" align="left" name="Denmark" />
          </a>
        </td>
      </tr>
      <tr class="tr_flags_index">
        <td class="td_flags_index">
          <a href="/team_stats/Egypt">
            <p class="p_flags_index">
              Egypt
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Egypt.png" alt="Egypt" class="flags_index" align="left" name="Egypt" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/England">
            <p class="p_flags_index">
              England
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}England.png" alt="England" class="flags_index" align="left" name="England" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/France">
            <p class="p_flags_index">
              France
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}France.png" alt="France" class="flags_index" align="left" name="France" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Germany">
            <p class="p_flags_index">
              Germany
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Germany.png" alt="Germany" class="flags_index" align="left" name="Germany" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Iceland">
            <p class="p_flags_index">
              Iceland
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Iceland.png" alt="Iceland" class="flags_index" align="left" name="Iceland" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Iran">
            <p class="p_flags_index">
              Iran
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Iran.png" alt="Iran" class="flags_index" align="left" name="Iran" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Japan">
            <p class="p_flags_index">
              Japan
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Japan.png" alt="Japan" class="flags_index" align="left" name="Japan" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Mexico">
            <p class="p_flags_index">
              Mexico
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Mexico.png" alt="Mexico" class="flags_index" align="left" name="Mexico" />
          </a>
        </td>
      </tr>
      <tr class="tr_flags_index">
        <td class="td_flags_index">
          <a href="/team_stats/Morocco">
            <p class="p_flags_index">
              Morocco
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Morocco.png" alt="Morocco" class="flags_index" align="left" name="Morocco" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Nigeria">
            <p class="p_flags_index">
              Nigeria
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Nigeria.png" alt="Nigeria" class="flags_index" align="left" name="Nigeria" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Panama">
            <p class="p_flags_index">
              Panama
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Panama.png" alt="Panama" class="flags_index" align="left" name="Panama" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Peru">
            <p class="p_flags_index">
              Peru
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Peru.png" alt="Peru" class="flags_index" align="left" name="Peru" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Poland">
            <p class="p_flags_index">
              Poland
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Poland.png" alt="Poland" class="flags_index" align="left" name="Poland" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Portugal">
            <p class="p_flags_index">
              Portugal
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Portugal.png" alt="Portugal" class="flags_index" align="left" name="Portugal" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Russia">
            <p class="p_flags_index">
              Russia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Russia.png" alt="Russia" class="flags_index" align="left" name="Russia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Saudi%20Arabia">
            <p class="p_flags_index">
              Saudi Arabia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Saudi Arabia.png" alt="Saudi Arabia" class="flags_index" align="left" name="Saudi Arabia" />
          </a>
        </td>
      </tr>
      <tr class="tr_flags_index">
        <td class="td_flags_index">
          <a href="/team_stats/Senegal">
            <p class="p_flags_index">
              Senegal
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Senegal.png" alt="Senegal" class="flags_index" align="left" name="Senegal" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Serbia">
            <p class="p_flags_index">
              Serbia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Serbia.png" alt="Serbia" class="flags_index" align="left" name="Serbia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/South%20Korea">
            <p class="p_flags_index">
              South Korea
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}South Korea.png" alt="South Korea" class="flags_index" align="left" name="South Korea" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Spain">
            <p class="p_flags_index">
              Spain
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Spain.png" alt="Spain" class="flags_index" align="left" name="Spain" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Sweden">
            <p class="p_flags_index">
              Sweden
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Sweden.png" alt="Sweden" class="flags_index" align="left" name="Sweden" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Switzerland">
            <p class="p_flags_index">
              Switzerland
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Switzerland.png" alt="Switzerland" class="flags_index" align="left" name="Switzerland" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Tunisia">
            <p class="p_flags_index">
              Tunisia
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Tunisia.png" alt="Tunisia" class="flags_index" align="left" name="Tunisia" />
          </a>
        </td>
        <td class="td_flags_index">
          <a href="/team_stats/Uruguay">
            <p class="p_flags_index">
              Uruguay
            </p>
            <img src="{{ url_for('static',filename='./flags/') }}Uruguay.png" alt="Uruguay" class="flags_index" align="left" name="Uruguay" />
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>